body {
  background-image: url(Background_2.png);
  background-size: 30%;
  background-repeat: repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

iframe {
  width: 1280px;
  height: 765px;
  border: none;
  margin-bottom: -5px;
  transform-origin: top left;
  transform: scale(calc(100vw / 960)) translateY(-50%);
}

.top-bar {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
}

.logo {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.container {
  height: 760px;
  width: 1280px;
  margin: 20px auto;
  padding: 20px;
}

.description {
  height: 173px;
  width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(to top left, rgba(70, 50, 0, 0.432), rgba(107, 4, 0, 0.432), rgba(90, 0, 0, 0.432)), linear-gradient(to top right, rgba(0, 0, 255, 0.432), rgba(255, 153, 150, 0.432), rgba(255, 0, 255, 0.432)) rgba(0, 0, 0, 0.432);
  text-align: center;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  position: relative;
}

#more-games-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 20px;
  width: 150px;
  height: 50px;
  background: linear-gradient(to top left, #00ff0d, rgba(251, 150, 255, 0), rgb(0, 4, 255)), linear-gradient(to top right, #4400ff, rgba(255, 153, 150, 0), rgb(238, 255, 0)) rgb(0 0 0);
  color: white;
  font-size: 20px;
}


h1 {
  font-size: 25px;
  color: rgb(0, 0, 0)
}



<div class="search-bar">
        <input type="text" placeholder="Search" class="search-input">
        <button class="search-button">Search</button>
      </div>