body {
  background-image: url(Background_2.png);
  background-size: 30%;
  background-repeat: repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
}

.logo {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.container {
  height: 650px;
  width: 960px;
  margin: 20px auto;
  padding: 20px;
}

h1 {
  font-size: 25px;
  color: rgb(0, 0, 0)
}

h2 {
  font-size: 30px;
  color: white;
  text-align: center;
}

.more-games-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.more-games-box {
  width: 200px;
  height: 250px;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  font-size: 20px;
  color: azure;
}

.more-games-box img {
  outline: 5px solid rgb(183, 0, 255);
  width: 200px;
  height: auto;
}

.more-games-box h3 {
  margin: 0;
}

.more-games-box p {
  margin: 5px 0;
}




<div class="search-bar">
        <input type="text" placeholder="Search" class="search-input">
        <button class="search-button">Search</button>
      </div>